@font-face {
  font-family: "iconfont"; /* Project id 2833181 */
  src: url('iconfont.woff2?t=1632490124893') format('woff2'),
       url('iconfont.woff?t=1632490124893') format('woff'),
       url('iconfont.ttf?t=1632490124893') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuzhuangtu:before {
  content: "\e600";
}

.icon-zhexiantu:before {
  content: "\e601";
}

.icon-yongyan:before {
  content: "\e602";
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-wenzhang2:before {
  content: "\e681";
}

.icon-geren:before {
  content: "\e641";
}

.icon-icon--:before {
  content: "\e710";
}

.icon-dengpao:before {
  content: "\e62e";
}

.icon-xitong:before {
  content: "\e621";
}

