@font-face {
  font-family: "iconfont"; /* Project id 3259975 */
  src: url('iconfont.woff2?t=1647664125161') format('woff2'),
       url('iconfont.woff?t=1647664125161') format('woff'),
       url('iconfont.ttf?t=1647664125161') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuzhuangtu:before {
  content: "\e600";
}

.icon-zhexiantu:before {
  content: "\e601";
}

.icon-yongyan:before {
  content: "\e602";
}

.icon-wenzhang2:before {
  content: "\e681";
}

.icon-geren:before {
  content: "\e641";
}

.icon-icon--:before {
  content: "\e710";
}

.icon-dengpao:before {
  content: "\e62e";
}

.icon-xitong:before {
  content: "\e621";
}

.icon-quxiantu:before {
  content: "\e603";
}

.icon-gongjuxiang:before {
  content: "\e62f";
}

.icon-shuji:before {
  content: "\e7ef";
}

.icon-xiangce:before {
  content: "\e607";
}

.icon-lianjie:before {
  content: "\e61d";
}

.icon-yanjing:before {
  content: "\e62b";
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-guanyuwomen:before {
  content: "\e629";
}

.icon-jianchagengxin:before {
  content: "\e630";
}

.icon-shouye-shouye:before {
  content: "\e610";
}

.icon-riqi:before {
  content: "\e608";
}

.icon-shijian:before {
  content: "\eb2a";
}

.icon-24gl-tags3:before {
  content: "\e87d";
}

.icon-guidang:before {
  content: "\e63e";
}

.icon-fenlei:before {
  content: "\e811";
}

.icon-sousuo:before {
  content: "\e60a";
}

